<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="/bin/bash"
                  arguments="/home/site/wwwroot/startup.sh"
                  stdoutLogEnabled="true"
                  stdoutLogFile="/home/LogFiles/python.log"
                  startupTimeLimit="60"
                  startupRetryCount="3">
      <environmentVariables>
        <environmentVariable name="AZURE_API_KEY" value="" />
        <environmentVariable name="AZURE_ENDPOINT" value="https://zuse1-ai-foundry-t1-01.cognitiveservices.azure.com/"/>
        <environmentVariable name="DEPLOYMENT_NAME" value="gpt-4.1"/>
        <environmentVariable name="FLASK_ENV" value="production"/>
        <environmentVariable name="PORT" value="8000"/>
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>


